<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV Submission</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container">
    <!-- Company Name and Brand -->
    <a class="navbar-brand" href="/">TalentMatchConnect </a>
    <!-- Navbar Toggler (for mobile) -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list_cvs">List</a>
        </li>
        <!-- Add a link back to the main page -->
        <li class="nav-item">
          <a class="nav-link" href="/">Search</a> 
        </li>
      </ul>
      <!-- Sign Up and Login Buttons -->
      <div class="my-2 my-lg-0">
        <a href="#" class="btn btn-outline-light mr-2">Sign Up</a>
        <a href="#" class="btn btn-outline-light">Login</a>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-4 auto" id="searchResults"></div>

<!-- Footer -->
<footer class="footer mt-auto py-3 bg-dark">
  <div class="container text-center">
    <span class="text-muted">@ COPYRIGHT &copy; Alpha1 Pvt Ltd</span>
    <a href="/"><i class="fab fa-linkedin ml-3 text-light"></i></a>
    <a href="/"><i class="fab fa-instagram ml-3 text-light"></i></a>
    <a href="/"><i class="fab fa-twitter ml-3 text-light"></i></a>
  </div>
</footer>

<!-- Bootstrap JS (Optional, if you need Bootstrap JavaScript features) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
